@font-face {
    font-family: "LemonMilk";
    src: url(./LEMONMILK-Bold.otf) format('opentype');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "LemonMilk";
    src: url(./LEMONMILK-Regular.otf) format('opentype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "LemonMilk";
    src: url(./LEMONMILK-Light.otf) format('opentype');
    font-style: normal;
    font-weight: 400;
}

body {
    background-color: #330000;
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 75%;
    margin: auto;
}

.narrative {
    display: block;
    padding: 20px 20px;
    background-color: rgb(120, 102, 79);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 10px 5px 5px black;
    text-shadow: 1px 1px 1px black;
    border: 3px;
}

a:link {
    color: lightblue;

}

a:visited {
    color: coral;
}

a:hover {
    color: teal;
}

h1 {
    text-align: center;
    color: white;
    font-family: "LemonMilk", 'Gill Sans', Verdana, sans-serif;
    font-weight: 700;
}

h2 {
    text-align: center;
    color: goldenrod;
    font-family: "LemonMilk", 'Gill Sans', Verdana, sans-serif;
    font-weight: 600;
}

h3 {
    text-align: center;
    color: goldenrod;
    font-family: "LemonMilk", 'Gill Sans', Verdana, sans-serif;
    font-weight: 400;
}

img {
    max-width: 75%;
}