html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100vw;
}

h1 {
  text-align: center
}

h2 {
  text-align: center
}

h5 {
  text-transform: uppercase;
}

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("/images/tents-bg.webp");
  background-size: cover;
  background-position: center top;
}

#header {
  text-align: center;
  z-index: -4;
  height: 95vh;
  width: 100%;
  color: white;
  text-shadow: 2px 2px 10px black;
}

#headertext {
  padding-top: 15%;
  position: fixed;
  z-index: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  z-index: 0;
  animation: fadeInAnimation ease 1.1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
      
  }
  100% {
      opacity: 1;
      
   }
}

#header h1 {
  padding: 0px;
  font-size: 8em;
  color: red;
  line-height: 110%;
}

#header h3 {
  line-height: 10px;
}

#header h5 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
}

main {
  z-index: 1;
  position: relative;
}

#lowermain {
  background-color: black;
}

#byline {
  background-image: url("./images/enigma-bg.webp");
  background-repeat: no-repeat;
  background-position: 10vw;
  background-size: auto;
  background-color: black;
  color: seashell;
  text-align: center;
  padding-top: 1.25em;
}

#byline h4 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2em;
}

#byline aside {
  display: flex;
  font-size: 1.1em;
  line-height: 1px;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 5em;
}

#whyme {
  background: linear-gradient(315deg, #42378f 0%, #f53844 74%);
  display: flex;
  padding: 2.5em 0;
  margin-bottom: 0;
}

#whyme-head {
  text-align: center;
  color: seashell;
}

#whyme-sectioned {
  display: flex;
  justify-content: space-between;
}

#testimonials {
  /* padding: 0 5%; */
  width: 50%;
}

#whyme a {
  color: white;
}

#whyme a:visited {
  color: white;
}

#clients {
  width: 20%;
  padding: 40px 10%;
  margin: auto 0;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 1.36em;
  color: gold;
  text-shadow: 2px 2px 10px #444;
  text-transform: uppercase;
  text-align: justify;
  min-width: 263px;
}

.col {
  font-family: 'Courier New', Courier, monospace;
  line-height: 3em;
}

#portfolio {
  color: seashell;
  font-family: 'Courier New', Courier, monospace;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

#portfolio-slides {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10%;
}

#portfolio-slides figcaption {
  width: 300px;
  height: 225px;
  box-shadow: 0px 0px 10px 10px white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.7em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 2px red, 0 0 0.5em blue;
  margin: 30px 0;
  transition: all 0.5s ease-in-out;
}

figcaption h3 {
  text-justify: center;
  text-align: center;
}

figcaption h4 {
  font-family: 'Courier New', Courier, monospace;
  text-transform: none;
  font-size: 0.5em;
  justify-self: bottom;
  text-align: center;
  display: none;
  transition: all 0.5s ease-in-out;
}

/* FRAMED FOLIO ITEMS */

#circusguild {
  background-image: url('./images/BCG.webp');
  background-position: center;
}

#evio {
  background-image: url('./images/evio.webp');
  background-position: center;
}

#ssdp {
  background-image: url('./images/ssdp.webp');
  background-position: center;
}

#quarry {
  background-image: url('./images/quarry.webp');
  background-position: center;
}

#bdamn {
  background-image: url('./images/downtownbham.webp');
  background-position: center;
}

#knw {
  background-image: url('./images/fire.webp');
  background-position: center;
}

#resume-contact {
  text-align: center;
  width: 100%;
  background-color: rgb(194, 23, 123);
  height: 5em;
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  color: white;
  transition: all 0.5s ease-out;
}

#resume-contact:hover {
  color: rgb(194, 23, 123);
  background-color: white;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

#resume-contact a {
  color: white;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
}

#resume-contact:hover a {
  color: rgb(194, 23, 123);
}

@media only screen and (orientation: landscape) {
#portfolio-slides .child {
  height: 0.5vh;
  width: auto;
}}

.separator{
  width:100vw;
  margin:0 auto;
}
.separator:before, .separator:after{
  content:'';
  display:block;
}

.top:before{
  border-left: 100vw solid transparent;
  border-bottom: 0px solid black;
  border-right:0;
  border-top:0;
}
.top:after{
  border-right: 100vw solid #000;
  border-top: 80px solid transparent;
  border-left:0;
  border-bottom:0;
  margin-top:-45px;
}

.bottom:before{
  border-left: 100vw solid #130041;
  border-bottom: 35px solid transparent;
  border-right:0;
  border-top:0;
}

/* experimental slider zone */

.slideshow-container {
  max-width: 30%;
  position: relative;
  margin: auto;
  min-width: 40%;
  min-height: 10em;
  padding: 0;
  left: 5%;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #FF9800, #182860);
}
.slideshow-container .mySlides {
  min-height: 250px;
  display: none;
  padding: 30px 10px;
}
@media (min-width: 768px) {
  .slideshow-container .mySlides {
    min-height: 370px;
  }
}
@media (min-width: 768px) {
  .slideshow-container .mySlides {
    padding: 45px 35px;
  }
}
.slideshow-container .mySlides .numbertext {
  color: #f2f2f2;
  font-size: 14px;
  padding: 8px 12px;
  text-align: center;
}
.slideshow-container .mySlides .text {
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #FFFFFF;
  font-size: 24px;
  padding: 8px 4px;
  min-width: 4ch;
}
@media (min-width: 768px) {
  .slideshow-container .mySlides .text {
    padding: 8px 12px;
  }
}
.slideshow-container .mySlides img {
  width: 60px;
  display: block;
  margin: 0 auto;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-radius: 24px 8px 24px 8px;
}
.slideshow-container .mySlides .designation {
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}
.slideshow-container .bg1 {
  background: transparent;
}
.slideshow-container .bg2 {
  background: transparent;
}
.slideshow-container .bg3 {  
  background: transparent;
}
.slideshow-container .prev, .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 15px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 99;
}
.slideshow-container .prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slideshow-container .prev:hover, .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
}