@font-face {
  font-family: 'Impact';
  src: url('./impact.ttf') format('truetype');
}

@font-face {
  font-family: 'Firs Neue Roman';
  src: url('./Firs_Neue_Roman.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100%;
  min-width: 600px;
}

h1 {
  text-align: center
}

h2 {
  text-align: center
}

h5 {
  text-transform: uppercase;
}

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("/images/tents-bg.webp");
  background-size: cover;
  background-position: center top;
}

/* @media only screen and (width > 2000px) {
  html {
    background-color: #111111;
  }
  body {
    width: 99vw;
  }
} */

#header {
  text-align: center;
  z-index: -4;
  height: 80vh;
  width: 100%;
  color: white;
  text-shadow: 2px 2px 10px black;
}

#headertext {
  padding-top: 6%;
  position: fixed;
  z-index: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  z-index: 0;
  animation: fadeInAnimation ease 1.1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#header h1 {
  padding: 0px;
  font-size: 8em;
  color: red;
  line-height: 110%;
}

#header h3 {
  line-height: 10px;
}

#header h5 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
}

main {
  z-index: 1;
  position: relative;
}

#lowermain {
  background-color: black;
}

#byline {
  background-image: url("./images/enigma-bg.webp");
  background-repeat: no-repeat;
  background-position: 10vw;
  background-size: auto;
  background-color: black;
  color: seashell;
  text-align: center;
  padding-top: 1.25em;
}

#byline h4 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.4em;
  padding-bottom: 3em;
}

#byline aside {
  display: flex;
  font-size: 1.0em;
  line-height: 1px;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 5em;
}

#websites {
  background-color: teal;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20%;
}

#admiralty {

}

#bcg {

}

#rifleflow {

}

#gravitydefiance {

}

#forwardflow {
  
}

#whyme {
  background: linear-gradient(315deg, #42378f 0%, #f53844 74%);
  /* display: flex; */
  padding: 2.5em 0;
  /* margin-bottom: 0; */
}

#whyme-head {
  text-align: center;
  color: seashell;
  padding-bottom: 10px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#whyme-sectioned {
  /* width: 50%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto 15%;
  gap: 10vw;
}

.col {
  font-family: 'Courier New', Courier, monospace;
  line-height: 3em;
  text-align: center;
}

#vertical {
  border-left: 1px solid #333333;
  height: 200px;
  position:absolute;
  left: 50%;
}

#whyme a {
  color: white;
}

#whyme a:visited {
  color: white;
}

#clients {
  /* padding: 40px 20px; */
  /* margin: auto 0; */
  font-family: 'Firs Neue Roman', 'Arial Narrow Bold', sans-serif;
  font-size: 1.15em;
  color: gold;
  text-shadow: 2px 2px 10px #444;
  text-transform: uppercase;
  text-align: right;
  translate: 15% 0;
  min-width: 30%;
}

/* SLIDER ZONE */

.numbertext {
  display: none;
}

#slide-centerer img {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 40%;
}

.designation {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 30%;
}

.slideshow-container {
  background: linear-gradient(110deg, #000000 0%, #56050a 74%);
  position: relative;
  /* margin: auto; */
  min-height: 30em;
  padding-top: 0;
  /* left: 5%; */
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #FF9800, #182860);
}

.slideshow-container .mySlides {
  height: 400px;
  width: 300px;
  padding: 30px 10px;
  margin-top: 25%;
}

.slideshow-container .mySlides .numbertext {
  color: #f2f2f2;
  font-size: 14px;
  padding: 8px 12px;
  text-align: center;
}
.slideshow-container .mySlides .text {
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #FFFFFF;
  font-size: 24px;
  padding: 8px 4px;
  min-width: 4ch;
}

.slideshow-container .mySlides img {
  width: 60px;
  display: block;
  margin: 0 auto;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-radius: 24px 8px 24px 8px;
}

.slideshow-container .mySlides .designation {
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}
.slideshow-container .bg1 {
  background: transparent;
}
.slideshow-container .bg2 {
  background: transparent;
}
.slideshow-container .bg3 {  
  background: transparent;
}
.slideshow-container .prev, .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 15px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 98;
}
.slideshow-container .prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slideshow-container .prev:hover, .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  position: absolute;
  bottom: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.dot1 {
  translate: -25px;
}
.dot3 {
  translate: 25px;
}
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
/* MISC STUFF THAT WORKS */

#portfolio {
  color: seashell;
  font-family: 'Courier New', Courier, monospace;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(180deg, #000000 0%, #0e0e0e 50%);
  /* background-image: url('./images/fluff_background.png'); */
  /* background-size:cover; */
  /* background-position: center; */
}

#portfolio-slides {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10%;
}

#portfolio-slides figcaption {
  width: 300px;
  height: 225px;
  box-shadow: 0px 0px 10px 10px white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.7em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 30px 0;
  transition: all 0.5s ease-in-out;
}

span {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  font-size: 1.1em;
}

figcaption h3 {
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 2px red, 0 0 0.5em blue;
  text-justify: center;
  text-align: center;
}

figcaption h4 {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: (255, 255, 255, 0.5);
  text-shadow: 3px 3px black;
  font-size: 0.5em;
  justify-self: bottom;
  text-align: center;
  opacity: 0;
  transition: all 0.6s ease-in-out;
}

#resume-contact {
  text-align: center;
  width: 100%;
  background-color: rgb(194, 23, 123);
  height: 4.5em;
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  color: white;
  transition: all 0.5s ease-out;
}

#resume-contact:hover {
  color: rgb(194, 23, 123);
  background-color: white;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

#resume-contact a {
  color: white;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
}

#resume-contact:hover a {
  color: rgb(194, 23, 123);
}

/* FRAMED FOLIO ITEMS */

#circusguild {
  background-image: url('./images/BCG.webp');
  background-position: center;
}

#polaquote {
  font-size: initial;
}

#casandraquote {
  font-size: initial;
}

#michaelquote {
  font-size: initial;
}

#evio {
  background-image: url('./images/evio.webp');
  background-position: center;
}

#ssdp {
  background-image: url('./images/ssdp.webp');
  background-position: center;
}

#quarry {
  background-image: url('./images/quarry.webp');
  background-position: center;
}

#bdamn {
  background-image: url('./images/downtownbham.webp');
  background-position: center;
}

#knw {
  background-image: url('./images/fire.webp');
  background-position: center;
}

/* SLANTY SEPARATOR */

.separator{
  width:100%;
  margin:0 auto;
}
.separator:before, .separator:after{
  content:'';
  display:block;
}

.top:before{
  border-left: 100% solid transparent;
  border-bottom: 0px solid black;
  border-right:0;
  border-top:0;
}
.top:after{
  border-right: 100vw solid #000;
  border-top: 80px solid transparent;
  border-left:0;
  border-bottom:0;
  margin-top:-45px;
}

.bottom:before{
  border-left: 100vw solid #130041;
  border-bottom: 35px solid transparent;
  border-right:0;
  border-top:0;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}


@keyframes fadeInAnimation {
  0% {
      opacity: 0;
      
  }
  100% {
      opacity: 1;
      
   }
}

/* @media only screen and (orientation: landscape) {
#portfolio-slides .child {
  height: 0.5vh;
  width: auto;
}} */

/* @media (min-width: 768px) {
  .slideshow-container .mySlides {
    padding: 45px 35px;
  }
}

@media (min-width: 768px) {
  .slideshow-container .mySlides .text {
    padding: 8px 12px;
  }
} */

@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
}

@media only screen and (orientation: portrait) {
  #header {
    height: 115vh;
  }

  #headertext {
    padding-top: 20%;
  }
}