html, body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center
}

h2 {
  text-align: center
}

h5 {
  text-transform: uppercase;
}

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000000;
  background-image: url("/images/tents-bg.webp");
  background-size: cover;
  background-position: center top;
}
#header {

  text-align: center;
  z-index: -4;
  height: 95vh;
  width: 100%;
  color: white;
}

#headertext {
  padding-top: 15%;
  position: fixed;
  z-index: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  z-index: 0;
}

#header h1 {
  padding: 0px;
  font-size: 8em;
  color: red;
  line-height: 110%;
  text-shadow: 2px 2px 10px black;
}

#header h3 {
  line-height: 10px;
}

#header h5 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
}

main {
  z-index: 1;
  position: relative;
}

#byline {
  background-image: url("./images/enigma-bg.webp");
  background-repeat: no-repeat;
  background-position: 10vw;
  background-size: auto;
  background-color: black;
  color: seashell;
  text-align: center;
  padding-top: 1.25em;
}

#byline h4 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2em;
}

#byline aside {
  display: flex;
  font-size: 1.1em;
  line-height: 1px;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 5em;
}

#whyme {
  background-color: #130041;
  display: flex;
  padding-top: 2.5em;
}

#whyme-head {
  text-align: center;
  color: seashell;
}

#whyme-sectioned {
  display: flex;
  justify-content: space-between;
}

#testimonials {
  padding: 0 5%;
  width: 50%;
}

#clients {
  width: 20%;
  padding: 0 10%;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 1.1em;
  font-color: yellow;
  text-transform: uppercase;
  text-align: justify;
}

.col {
  font-family: 'Courier New', Courier, monospace;
  line-height: 3em;
}

#portfolio-slides {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

.figcaption {
  
  width: auto;
}

@media only screen and (orientation: landscape) {
#portfolio-slides .child {
  height: 0.5vh;
  width: auto;
}}

.separator{
  width:100vw;
  margin:0 auto;
}
.separator:before, .separator:after{
  content:'';
  display:block;
}

.top:before{
  border-left: 95vw solid transparent;
  border-bottom: 0px solid black;
  border-right:0;
  border-top:0;
}
.top:after{
  border-right: 95vw solid #000;
  border-top: 50px solid transparent;
  border-left:0;
  border-bottom:0;
  margin-top:-45px;
}

.bottom:before{
  border-left: 100vw solid #130041;
  border-bottom: 35px solid transparent;
  border-right:0;
  border-top:0;
}

